---
- name: configure network
  hosts: all
  gather_facts: no
  tasks:
   - name: set IP address on ether2
     community.routeros.command:
       commands:
         - /ip address add address={{ router_ip }}/24 interface=ether2 disabled=no
  - name: set default route
    community.routeros.command:
      commands:
        - /ip route add gateway={{ router_gateway }}
 - name: verify ip addresses
   community.routeros.routeros_facts:
 - name: show
   debug:
    msg: "router {{ inventory_hostname }} has ip {{ ansible_net_interface.ether2.addresses[0].address }}"
